<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.444425848062-5lct22pttetu0stm4svi6gq0ee5n4b3o</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>444425848062-5lct22pttetu0stm4svi6gq0ee5n4b3o.apps.googleusercontent.com</string>
</dict>
</plist>
